<footer class="navbar navbar-light footer-height d-flex justify-content-center align-items-center" style="background-color: #e3f2fd;">
    <p  style="color: black;font-size: 1rem;"><b>This site provides information about the 73 cards currently available in India, and all the card details have been updated as of October 2023.</b></p>
</footer>