<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="landing-page">
      <div class="your-mate-to">Your mate to find what’s best for you</div>
      <div class="line"></div>
      <div class="when-we-say-container">
        <p class="when-we-say">
          "When we say there is a card for you, we mean it.”
        </p>
        <p class="when-we-say">
          Whether you're a frequent traveler or a savvy shopper, get a card that
          suits your style. Be it in regards to acceptability around the world,
          or the luxury of premium experiences.
        </p>
      </div>
      <div class="landing-page-child"></div>
      <div class="landing-page-item"></div>
      <div class="landing-page-inner"></div>
      <div class="landing-page-child1"></div>
      <div class="landing-page-child2"></div>
      <a class="know-your-satisfaction" href="/sat_score">Know your satisfaction score</a>
      <a class="best-credit-card" href="/rec">Best credit card recommendations</a>
      <a class="our-top-picks1" href="/top_picks">Our top picks</a>
      <a href="/sat_score"><img
        class="phmask-happy-light-icon"
        alt=""
        src="phmaskhappylight.svg"
      />
    </a>
    <a href="/rec">
      <img
        class="carbonrecommend-icon"
        alt=""
        src="carbonrecommend.svg"
      />
    </a>
      <a href="/top_picks">
      <img
        class="grommet-iconsstatus-good"
        alt=""
        src="grommeticonsstatusgood.svg"
      />
    </a>
      <a class="answer-some-simple" href="/rec" style="text-decoration: none; color: inherit;">
        Answer some simple questions to help us recommend what’s best for you
      </a>
      <a class="find-your-satisfaction" href="/sat_score" style="text-decoration: none; color: inherit;">
        Find your satisfaction score and compare different cards accordingly
      </a>
      <a class="some-of-our" href="/top_picks" style="text-decoration: none; color: inherit;">Some of our tops picked credit cards</a>
      <div class="line-div"></div>
      <div class="line-div"></div>
      <div class="line-div"></div>
      <div class="landing-page-child3"></div>
      <div class="landing-page-child4"></div>
    </div>
  </body>
</html>
