<div class="content-container">
<div class="satisfaction-box">
    <div class="rec-title">Satisfaction Score is</div>
    <div class="rec-line"></div>
    <div class="card-info">
        <div class="card-image">
            <img src="cards photo/34.webp" alt="Card Image">
        </div>
        <div class="card-details">
            <div class="card-name-line">
                Your Satisfaction with using <b>ICICI MakeMyTrip Credit Card</b> is in range: 
            </div>
            <div class="points">
                <div class="score">  <b>7.2 - 8.2</b></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
